{% extends 'worker/worker_dashboard.html' %}
{% block content %}

<div class="card">
    <div class="card-body">
<table class="table table-bordered">
{% for appo in appointment %}
<tr>
  <td>{{forloop.counter}}</td>
  <td>{{appo.Customuser.username}}</td>
  <td>{{appo.Schedule.date_available}}</td>
  <td>{{appo.Schedule.start_time}}</td>
  <td>{{appo.Schedule.end_time}}</td>
  {% if appo.status == 0 %}
  <td>
    <form method="post" action="{% url 'approve_appointment' a.id %}">
      {% csrf_token %}
      <button class="btn btn-primary" type="submit" value="approve" onclick="return confirm('are you sure you want to approve this appointment?')">Approve</button>
    </form>
  </td>
  <td>
    <form method="post" action="{% url 'reject_appointment' a.id %}">
      {% csrf_token %}
      <button class="btn btn-danger" type="submit" value="reject" onclick="return confirm('are you sure, you want to reject this appointment?')">Reject</button>
    </form>
  </td>
  {% elif appo.status == 1 %}
  <td>
    <button class="btn btn-outline-success" type="submit" disabled>approved</button>
  </td>
  {% elif appo.status == 2 %}
  <td>
    <button class="btn btn-outline-danger" type="submit" disabled>rejected</button>
  </td>
  {% endif %}
</tr>
{% endfor %}
  </table>
    </div>
</div>
{% endblock %}
