{% extends 'customer_dashboard.html' %}
{% block content %}
<!--<div class="card">-->
<!--    <div class="card-body">-->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>name</th>
                    <th>work type</th>
                    <th>Date Available</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>book an appointment</th>

                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{ i.Customuser.first_name}} {{ i.Customuser.last_name}}</td>
                    <td>{{i.type_of_work.works}}</td>
                    <td>{{ i.date_available }}</td>
                    <td>{{ i.start_time }}</td>
                    <td>{{ i.end_time }}</td>
                    <td><button><a href="{% url 'take_appointment' i.id %}">book appointment</a></button></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
<!--    </div>-->
<!--</div>-->
{% endblock %}