{% extends 'customer/customer_dashboard.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            {% for i in comp %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.Customuser.username}}</td>
                <td><small>{{i.complaint_date}}</small><br><span class="text-primary fs-4">{{i.type_complaint}}</span></td>
                {% if i.reply_complaint %}
                <td >
                    <h6>Reply From The Admin : </h6> <small>{{i.reply_date}}</small>
                    <br><span class="text-warning fs-4">{{i.reply_complaint}}</span>
                </td>

                {% endif %}

            </tr>

            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}